<h1>メンバー一覧</h1>
<% @users.each do |user| %>
  <div class="row">
  <div class="col-sm-4 col-md-2 text-center">
      <div class="thumbnail">
        <%= link_to user.name, user_path(user) %>
        <%= image_tag user.avatar.url(:medium), class: "img-rounded" %>
        <div class="caption">
          <%= user.generation %><br>
          <%= user.description %><br>
          <%= user.email %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="pagination pagination-success">
  <a href="#fakelink" class="btn btn-success previous"><i class="fui-arrow-left"></i></a>
  <ul>
    <li><a href="#fakelink">5</a></li>
  </ul>
  <a href="#fakelink" class="btn btn-success next">
  <i class="fui-arrow-right"></i></a>
</div> <!-- /pagination -->

<%= paginate @users %>
