<h1>メンバー一覧</h1>
<%= paginate @users %>
<table class="table table-default">
  <tr>
    <th></th>
    <th>名前</th>
    <th>代</th>
    <th>一言コメント</th>
    <th>email</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
	  <td><%= image_tag user.avatar.url(:thumb) %></td>
      <td><%= link_to user.name, user_path(user) %></td>
      <td><%= user.generation %></td>
      <td><%= user.description %></td>   
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
