<center>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.avatar.url %>
</center>
<br>
<table class="table">
  <tr>
    <td>代</td>
	<td><%= @user.generation%></td>
  </tr>
  <tr>
    <td>一言コメント</td>
	<td><%= @user.description%></td>
  </tr>
  <tr>
    <td>連絡先</td>
    <td><%= @user.email %></td>
  </tr>
</table>

<% if current_user == @user %>
  <%=  link_to "プロフィールを編集する", edit_user_registration_path %>
<% end %>

<h4>【資料】</h4>
<table class="table">
  <tr>
    <td>ファイル名</td>
    <td>概要</td>
  </tr>
  <% @materials.each do |m|%>
  <tr>
      <td><%= m.title %></td>
      <td><%= m.text %></td>
  </tr>
  <% end %>
</table>

<h4>【プロジェクト】</h4>
<table class="table">
  <tr>
    <td>プロジェクト名</td>
    <td>概要</td>
  </tr>
  <% @projects.each do |p|%>
  <tr>
      <td><%= p.title %></td>
      <td><%= p.description %></td>
  </tr>
  <% end %>
</table>

<h4>【レポート】</h4>
<table class="table">
  <tr>
    <td>タイトル</td>
    <td>内容</td>
  </tr>
  <% @reports.each do |r|%>
  <tr>
      <td><%= r.title %></td>
      <td><%= r.text %></td>
  </tr>
  <% end %>
</table>

<h4>【タスク】</h4>
<table class="table">
  <tr>
    <td>タイトル</td>
    <td>締め切り</td>
  </tr>
  <% @tasks.each do |t|%>
  <tr>
      <td><%= t.title %></td>
      <td><%= t.due.to_s(:db)%></td>
  </tr>
  <% end %>
</table>
