<h1>メンバーの編集</h1>
<table class="table">
  <tr>
    <th>名前</th>
    <th></th>
  </tr>
  <% @task.users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
	<td><%= link_to '削除', project_task_path(@task.project_id, @task)+"/users_edit/"+user.id.to_s, method: :delete,
	        data: { confirm: '本当によろしいですか？' }%></td>
  </tr>
  <% end %>
</table>

<h4>メンバーの追加</h4>
<p>
<%= form_for([@project, @task]) do |f| %>
  <%= f.fields_for :tasks_users, @new_user do |tu| %>
    <%= tu.collection_select :user_id, User.all, :id, :name %>
  <% end %>
</p>
<p>
  <%= f.submit("追加する") %>
</p>
<% end %>

<%= link_to "プロジェクトページに戻る", project_task_path(@project, @task) %>
