<h1>経理申請 一覧</h1>
<%= link_to '新規経理申請', new_accounting_path %>
<table class="table table-default">
  <tr>
    <th>概要</th>
    <th>申請者氏名</th>
    <th>日付</th>
    <th>申請状況</th>
    <th colspan="4">
   </tr>
   <% @accountings.each do |accounting| %>
    <tr>
      <td><%= link_to accounting.title ,accounting_path(accounting) %></td>
      <td><%= accounting.name %></td>
      <td><%= accounting.application_date %></td>
      <td>
        <% case accounting.status %>
          <% when 1 %>
          <%= link_to '申請中',edit_status_path(accounting) %>
          <% when 2 %>
          <%= link_to '承認',edit_status_path(accounting) %>
          <% when 3 %>
          <%= link_to '却下',edit_status_path(accounting) %>
          <% end %>
      </td>
      <td><%= link_to '編集',edit_accounting_path(accounting) %></td>
      <td><%= link_to '削除',accounting_path(accounting),
              method: :delete, data:{ confirm: ''} %></td>
    </tr>
  <% end %>
</table>

