<p>
  <strong>Title:</strong>
  <%= @accounting.title %>
</p>
<p>
  <strong>Name:</strong>
  <%= @accounting.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @accounting.application_date %>
  </p>
<p>
  <strong>Purpose:</strong>
  <%= @accounting.purpose %>
</p>
<p>
  <strong>Status:</strong>
    <%= @accounting.status %>
    </p>



<%= link_to '経理申請 一覧に戻る', accountings_path %>
<%= link_to '経理申請内容を編集する', edit_accounting_path(@accounting) %>

