<p>
  <strong>Title:</strong>
  <%= @accounting.title %>
</p>
<p>
  <strong>Name:</strong>
  <%= @accounting.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @accounting.application_date %>
  </p>
<p>
  <strong>Purpose:</strong>
  <%= @accounting.purpose %>
</p>
<p>
  <strong>Status:</strong>
    <% case @accounting.status %>
    <% when 1 %>
      申請中
    <% when 2 %>
      承認
    <% when 3 %>
       却下
    <% end %>
</p>
<p>
  <strong>Images:</strong><br>
  <% @accounting.images.each do |im| %>
  <%= image_tag im.image_file.url(:medium) %><br>
  <% end %>
</p>
<%= link_to '経理申請 一覧に戻る', accountings_path %>
<%= link_to '経理申請内容を編集する', edit_accounting_path(@accounting) %>

