<h1>Dashbords</h1>
<h5><%= link_to 'プロジェクト一覧', projects_path %></h5>
<h5><%= link_to '資料一覧', materials_path %></h5>
<h5><%= link_to 'メンバー一覧', users_path %></h5>
<h5><%= link_to '連絡', static_pages_contact_path %></h5>
<h5><%= link_to '使い方Wiki', static_pages_usage_path %></h5>
<div id=calendar></div>
