<%= form_for @material do |f| %>
  <% if @material.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@material.errors.count, "error") %> prohibited
      this material from being saved:</h2>
    <ul>
    <% @material.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <%= f.fields_for :matterial_users  do |mu| %>
    <p>
      <%= mu.label :user_id %><br>
	  <% users = User.first %>
      <%= mu.collection_select :user_id, User.all, :id, :name %>
	  <%= User.first.name%>
    </p>
  <% end %>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
