<%= form_for @material do |f| %>
  <% if @material.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@material.errors.count, "error") %> prohibited
      this material from being saved:</h2>
    <ul>
    <% @material.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.file_field :content %>
  </p>

  <p>
    <%= f.label :filetype %><br>
    <%= f.collection_select :filetype, MaterialCategory.all, :category_name, :category_name %>
  </p>
  
  <p>
  関連ユーザー<br>
  <%= f.fields_for :materials_users, @material.materials_users  do |mu| %>
    <%= mu.collection_select :user_id, User.all, :id, :name %>
  <% end %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>
