<p>
  <strong>Title:</strong>
  <%= @material.title %>
</p>
 
<p>
  <strong>filename:</strong>
  <%= @material.filename %>
</p>

<p>
  <strong>filetype:</strong>
  <%= @material.filetype %>
</p>

<%= render 'users' %>
<%= link_to '資料一覧に戻る', materials_path %>
| <%= link_to '編集する', edit_material_path(@material) %>

