<h2><%= @project.title %></h2>
<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @report.text %>
</p>

<%= render 'users' %>
<%= link_to 'レポート一覧に戻る', project_reports_path %>
| <%= link_to 'レポート内容を編集する', edit_project_report_path(@project, @report) %>
