<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Team Manager", dashbords_home_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">稼働中のプロジェクト</a></li>
            <li><a href="#">過去のプロジェクト</a></li>
            <li class="divider"></li>
            <li><a href="#">先代のプロジェクト</a></li>
          </ul>
        </li>
		
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Materials<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">勉強会資料</a></li>
            <li><a href="#">議事録</a></li>
            <li class="divider"></li>
            <li><a href="#">引き継ぎ資料</a></li>
          </ul>
        </li>
        
		<li><a href="#">Contact</a></li>
        <li><%= link_to 'Usage', usages_list_path %></li>
      
	  </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Menu<b class="caret"></b></a>
          <ul class="dropdown-menu">
	        <% if user_signed_in? %>
	          <strong><%= current_user.email %></strong>
	          <li><%= link_to 'Edit profile', edit_user_registration_path, class: 'navbar-link' %></li> 
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link' %></li>
	        <% else %>
	          <li><%= link_to "Sign up", new_user_registration_path, class: 'navbar-link' %></li> 
	          <li><%= link_to "Login", new_user_session_path, class: 'navbar-link' %></li>
	        <% end %>
          </ul>
        </li>
      </ul>
	  <p class="navbar-text pull-right">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

