<div class="navbar-header">
 <!-- できればロゴの画像イメージが欲しい　-->
  <h3><%= link_to "Team Manager", dashbords_home_path, class: "navbar-brand" %></h3>
</div>

<ul class="nav navbar-inverse" role="navigation">
  <table style="width:100%;">
    <% if user_signed_in? %>
	  <tr><td><div class="text-center"><%= image_tag current_user.avatar.url(:thumb) %></div></td></tr>
	  <tr><td><%= current_user.name %></td></tr>
      <tr><td><%= current_user.email %></td></tr>
      <tr><td><div class="text-center"><%= link_to 'Edit profile', edit_user_registration_path %></div></td></tr>
      <tr><td><div class="text-center"><%= link_to "Logout", destroy_user_session_path, method: :delete %></div></td></tr>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %></li> 
      <li><%= link_to "Login", new_user_session_path %></li>
    <% end %>
 </table>
  
  <li class="dropdown">
    <a href="#" class="dropdown-inverse" data-toggle="dropdown">プロジェクト<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'プロジェクト一覧', projects_path %></li>
      <li><a href="#">過去のプロジェクト</a></li>
    </ul>
  </li>
		
  <li class="dropdown">
    <a href="#" class="dropdown-inverse">資料<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to '資料一覧', materials_path %></li>
      <li><a href="#">議事録</a></li>
      <li class="divider"></li>
      <li><a href="#">引き継ぎ資料</a></li>
    </ul>
  </li>
  
  <li class="dropdown">
    <a href='#' class="dropdown-inverse" data-toggle="dropdown">各種申請<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to '経理申請一覧',accountings_path %></li>
    </ul>
  </li>

  <li><%= link_to 'メンバー', users_path %></li>
</ul>
