<!DOCTYPE html>
<html>
<head>
  <title>TeamManager</title>
  <%= include_gon(init: true) %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="col-md-2">
     <div class="sidebar-nav affix" role="complementary">
       <%= render partial: 'layouts/side_bar' %>
	 </div>
  </div>
   <div class="col-md-10">
      <%= yield %>
  </div>
</body>
</html>
