<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
 
<p>
  <strong>PM:</strong>
  <%= @project_manager.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
<strong>プロジェクトメンバー:</strong>
<%= link_to "メンバー変更", project_members_edit_path(@project) %><br>
  <% @members.each do |member| %>
    <%= member.name %>,  
  <% end %>
</p>

<%= render "tasks/tasks"%>
<%= render "reports/reports" %>

<%= link_to 'プロジェクト一覧に戻る', projects_path %>
| <%= link_to 'プロジェクト内容を編集する', edit_project_path(@project) %>
